.hashTagContainer{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.btn{
    background-color:#1da1f2;
    height: 40px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}